.card{
    display: flex;
    flex-direction: column;
    max-width:500px;
    font-size: 16px;
    border-radius: 10px;
}

.card-img{
    object-fit:cover;
    width: 100%;
    height:370px;
}
.card-body{
    background: #f3f3f3;
    color:black;
    padding: 25px 20px;   
}
.card-body:hover{
    background-color: #ffffff;
    transition: 0.4s;
}
.card-body>div{
    display: flex;
    flex-direction: column;
}
.card-title{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin:0;
}
.card-sub-title{
    margin-top: 10px;
    font-size: 14px;
    font-weight:lighter;
}
.card-info{
    font-size: 16px;
    line-height: 25px;
}
.card .button{
    padding:6px 8px;
    background-color: white;
    color:black;
    text-decoration: none;
    width:max-content;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .card{
        display: flex;
        flex-direction: column;
        width:100%;
        font-size: 8px;    
    }
    .card-body{
        background: #f6f6f6;
        color:black;
        padding: 10px 20px;
        
    }
    .card .button{
        background-color: rgb(50, 50, 50);
        color:rgb(255, 255, 255); 
        outline: 1px solid rgb(0, 0, 0);
    }
}