@import "nav.css";
@import "header.css";
@import "svg.css";
@import "about.css";
@import "card.css";
@import "projects.css";
@import "footer.css";
@import "banner.css";

body{
    font-family:monospace;
    background-color: rgb(255, 255, 255);
    transition: background .3s ease-in;
}
svg{
    overflow: hidden;
}
  
  body.dark {
    background-color: #202020;
    color:white;
  }
 
  .switch-mode {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .switch-mode svg {
    width: 0;
    height: 24px;
    transition: all .3s ease-in;
    transform-origin: center;
  }
  
  .switch-mode .sun {
    width: 24px;
  }
  
  body.dark .moon {
    opacity: 1;
    width: 24px;
  }
  
  body.dark .sun {
    opacity: 0;
    width: 0;
  } 

  nav ul li a.dark {
    color: #FFF; 
  }
  body.dark nav ul li a::after {
    background: #ffffff;
  }

  body.dark .social-icons a img {
    filter: invert(1);
  }
  
    
  